@model BlogPostModel

<div style="display: flex; flex-direction: column; align-items:center; width: 80%">
    <h1> @Model.Post.Title </h1>
    <h4><i>Author: @Model.Post.User.UserName</i></h4>
    <br />
    <p>@Model.Post.Body</p>
</div>
<br />
<br />
<hr />
<br />
<br />
<h4>Comments</h4>
<br />
<div style="display: flex; flex-direction: column">
    <div>
    @foreach(var comment in @Model.Post.Comments)
    {
        <ul style="border: 1px solid lightgrey; width: 80%; height: 100px; padding: 20px">
            @comment.Commentary
            <li style="list-style:none">~ @comment.User.UserName</li>
            @if (User.Identity.Name.Equals(comment.User.UserName))
            {
                <li style="list-style:none; text-align: right;"> 
                    <a style="text-decoration: none; color:lightslategrey;" asp-controller="Home" asp-action="DeleteComment" asp-route-idcomment="@comment.Id" asp-route-idpost="@Model.Post.Id">delete comment</a>
                    @*<a style="text-decoration: none; color:lightslategrey;" href="@Url.Action("DeleteComment", "Home", new {idcomment = comment.Id, idpost = @Model.Post.Id})">delete comment</a>*@
                    </li>
            }
        </ul>
    }
    </div>
    <br />
    <h5>Write a comment:</h5>
    <br />
    <div>
        <form asp-controller="Home" asp-action="BlogPost" asp-route-Id="@Model.Post.Id">
        <textarea asp-for="@Model.NewComment" style="border: 1px solid grey; width: 80%; height: 100px; padding: 10px"></textarea>
        <span style="color:red" asp-validation-for="@Model.NewComment"></span>
        <br /><br />
        <button >create</button>
        </form>
    </div>
</div>