@using ExamenAdam.Entities
@using ExamenAdam.Identity.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Blog";
}
@model BlogIndexModel
@inject SignInManager<User> SignInManager

<h1 style="text-align: center">BLOG GRIMBERGEN</h1>
<br />
<div style="display: flex; flex-direction:column; align-items:center">
    @if (@Model.PostWithDescription != null)
    {
        @foreach (KeyValuePair<Post, string> kvp in @Model.PostWithDescription)
        {
            <ul style="font-size: 20px; text-align:center">
                <a asp-controller="Home" asp-action="BlogPost" asp-route-id="@kvp.Key.Id">
                    <h1>@kvp.Key.Title</h1>
                    <h6><i>@Localizer["Author:"] @kvp.Key.User.UserName</i></h6>
                </a>  
                @kvp.Value
            </ul>
            <hr />
        }
    } else
    {
        <h3>@Localizer["No posts yet availlable."]</h3>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <br><br><br>
        <a asp-controller="Home" asp-action="CreateBlogPost">
            <h4>@Localizer["Create a new blogpost"]</h4>        
        </a>
    </div>
}