@using Microsoft.AspNetCore.Mvc.Localization
@model CreateBlogPostModel
@inject IViewLocalizer Localizer

<h1 style="text-align:center">@Localizer["Write your own blog post here"]</h1>
<br />
<br />
<form asp-controller="Home" asp-action="CreateBlogPost">
    <label for="Post.Title">@Localizer["Blog title:"]</label>
    <br />
    <input style="width: 100%;"  asp-for="@Model.Title" />
    <span style="color:red" asp-validation-for="@Model.Title"></span>
    <br />
    <label for="Post.Body">@Localizer["Article:"]</label>
    <br />
    <textarea style="width: 100%;" rows="20" asp-for="@Model.Body"></textarea>
    <span style="color:red" asp-validation-for="@Model.Body"></span>
    <br />
    <button>@Localizer["Post!"]</button>

</form>