@inject IViewLocalizer Localizer
@using ExamenAdam.Identity.Entities
@using Microsoft.AspNetCore.Mvc.Localization
@model ManageUsersModel

<h1 style="text-align: center">@Localizer["USERMANAGEMENT"]</h1>
<br />

<div>
    <h1>@Localizer["All NON-Approved users"]</h1>
    <br />
    <form asp-controller="Management" asp-action="ManageUsers">
        <table style="width: 80%">
            <tr>
                <th style="width: 18%">@Localizer["Username"]</th>
                <th style="width: 18%">@Localizer["First Name"]</th>
                <th style="width: 18%">@Localizer["Last Name"]</th>
                <th style="width: 18%">@Localizer["Emailaddress"]</th>
                <th style="width: 10%">@Localizer["Role"]</th>
                <th style="width: 10%">@Localizer["Approved"]</th>
                <th style="width: 8%"></th>
            </tr>
            @foreach(KeyValuePair<User, Role> kvp in @Model.UnapprovedUsersAndRoles)
            {
                <tr>
                    <td>@kvp.Key.UserName</td>
                    <td>@kvp.Key.FirstName</td>
                    <td>@kvp.Key.LastName</td>
                    <td>@kvp.Key.Email</td>
                    <td>@kvp.Value.Name</td>
                    <td>@kvp.Key.Approved</td>
                    <td><a asp-controller="Management" asp-action="EditUserAndRole" asp-route-id="@kvp.Key.Id">EDIT</a></td>
                </tr>
            }        
        </table>
        <br />
        <input type="hidden" value="@Model.SearchFrom" asp-for="@Model.SearchFrom"/>
        <input type="hidden" value="@Model.SearchTo" asp-for="@Model.SearchTo"/>
        <p>Results @Model.SearchFrom - @Model.SearchTo</p>
        <button type="submit" name="browse" value="previous">@Localizer["previous"]</button>
        <button type="submit" name="browse" value="next">@Localizer["next"]</button>
    </form>
</div>

<br /><br />

<div>
    <h1>@Localizer["Search specific user"]</h1>

    <form asp-controller="Management" asp-action="ManageUsers">
        <table style="width: 80%">
            <tr>
                <th style="width: 18%">@Localizer["Username"]</th>
                <th style="width: 18%">@Localizer["First Name"]</th>
                <th style="width: 18%">@Localizer["Last Name"]</th>
                <th style="width: 18%">@Localizer["Emailaddress"]</th>
                <th style="width: 10%">@Localizer["Role"]</th>
                <th style="width: 10%">@Localizer["Approved"]</th>
                <th style="width: 8%"></th>
            </tr>
            <tr>
                <td ><input style="width: 90%" asp-for="@Model.UserName" /></td>
                <td ><input style="width: 90%" asp-for="@Model.FirstName" /></td>
                <td ><input style="width: 90%" asp-for="@Model.LastName" /></td>
                <td ><input style="width: 90%" asp-for="@Model.Email" /></td>                
                <td style="width: 10%"></td>
                <td style="width: 10%"></td>
                <td style="width: 8%"></td>
            </tr>      
        </table>
        <br />
        <h5>@Localizer["Result"]</h5>
        <table style="width: 80%">
            @if (@Model.UserResult != null)
            {
                @foreach(KeyValuePair<User, Role> kvp in @Model.UserResult)
                {
                    <tr>
                        <td style="width: 18%">@kvp.Key.UserName</td>
                        <td style="width: 18%">@kvp.Key.FirstName</td>
                        <td style="width: 18%">@kvp.Key.LastName</td>
                        <td style="width: 18%">@kvp.Key.Email</td>
                        <td style="width: 10%">@kvp.Value.Name</td>
                        <td style="width: 10%">@kvp.Key.Approved</td>
                        <td style="width: 8%"><a asp-controller="Management" asp-action="EditUserAndRole" asp-route-id="@kvp.Key.Id">EDIT</a></td>
                    </tr>
                }
            }
        </table>
        <br />
        <button type="submit" name="browse" value="search">@Localizer["Search"]</button>
    </form>
</div>